/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
strong {
	font-weight: 900;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans';
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0;
}
section {
	margin: 50px 0;
}

a {
	text-decoration:none;
	color: black;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C;
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154;
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	gap: 20px;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li img {
	height: 1rem;
	font-weight: bold;
}

a:hover, li:hover, .modifier:hover, .fa-xmark:hover, .fa-xmark:focus {
	color: #B1663C;
	cursor: default;
}

.modal {
	display: none; 
	position: fixed; /* Fixe même lors du défilement */
	z-index: 1; /* superposition */
	left: 0;
	top: -50px;
	width: 100%; 
	height: 100%; 
	background-color: rgba(0,0,0,0.3); /* Noir avec opacité 30%*/
	justify-content: center;
} 

.modal-content {
	margin-top: 8%;
	padding: 50px;
	border-radius: 10px;
	width: 100%; 
	height: 100%;
	max-width: 630px; 
	max-height: 688px;
	background-color: #FFFFFF; 
	overflow: visible; /* Permet le défilement si nécessaire */
	text-align: center;
	justify-content: center;
}
.modal-content h1{
	margin-top: 3%;
	margin-bottom: -3%;
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
	font-size: 26px;
	color: black;
}

.fa-xmark {
	color: black;
	float: right;
	font-size: 24px;
}
.mini-gallery{
	height: 65%;
	width: 80%;
	display: flex;
	margin: 10%;
	gap: 1%;
	flex-wrap: wrap;
	justify-content: space-between;
}
.mini-gallery figure{
	display: flex;
	height: 26%;
	justify-content: right;
	position: relative;
}
.divTrash{
	display: flex;
	justify-content: center;
	align-content: center;
	position: absolute;
    top: 0;
    right: 0;
	background-color: black;
	border-radius: 25%;
	padding: 5%;
	margin: 5%;
}
.fa-trash-can{
	color: #FFFFFF;
}
.fa-trash-can:hover{
	color: #1D6154;
}
.mini-gallery_foot{
	height: 20%;
	width: 80%;
	border-top: solid 2px #B3B3B3;
	margin: auto;
	align-content: center;
}
.mini-gallery_addbtn{
	height: 47px;
	width: 60%;
	line-height: 47px;
	margin: auto;
	background-color:  #1D6154; 
    border-radius: 25px / 25px; 
    padding-left:3%;
    padding-right:3%;
	font-family: 'Syne', 'Calibri', sans-serif;
	color: white;
	font-weight: 700;
	font-size: 18px;
}
#modal-windowAdd {
	display: none;
	margin-top: 8%;
	padding: 50px;
	border-radius: 10px;
	width: 100%; 
	height: 100%;
	max-width: 630px; 
	max-height: 688px;
	background-color: #FFFFFF; 
	overflow: visible; 
	text-align: center;
	justify-content: center;
}
.mini-gallery_addbtn:hover{
	background-color: #B1663C;
	cursor: default;
}
.fa-arrow-left{
	display: block;
	color: black;
	text-align: left;
	font-size: 21px;
}
.fa-arrow-left:hover{
	color: #B1663C;
	cursor: default;
}
.divAddImgBox{
	display: block;
	margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	height: 169px;
	width: 80%;
	background-color: #E8F1F6;
	justify-content: center;
	text-align: center;
}
.onDropZone{
	background-color: #fc9357;
	
}
.fa-image{
	margin-top: 5%;
	color: #CBD6DC;
	font-size: 76px;
	height: 76px;
	text-align: center;
}

.divAddImg{
	display: block;
	margin-top: 1%;
	margin-left: auto;
	margin-right: auto;
	background-color: #CBD6DC;
	height: 36px;
	width: 45%;
	border-radius: 18px;
	text-align: center;
	font-weight: bold;
	align-content: center;
	color: #306685;
}
.divAddImg:hover{
	background-color: #B1663C;
}
.divAddImgBox p{
	display: block;
	margin-top: 2%;
	margin-left: auto;
	margin-right: auto;
}
.addttl, .labelclass{
	margin-top: 5%;
	display: block;
	text-align: left;
	text-wrap: wrap;
	width: 100%;
}
.input2hide{
	display: none;
}
.modalAddTitle, #cat-select{
	margin-bottom: 5%;
	margin-top: 1%;
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 51px;
	border: none;
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.1));
}

.modifier {
	display: none;
	padding-left: 1%;
}
.fa-pen-to-square{
	padding-right: 10%; 
	font-weight: bold;
	font-size: 18px;
}

#introduction {
	display: flex;
	align-items: center;
}

#introduction figure {
	flex: 1;
}

#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1;
}

#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}

#filtre {
	display: flex;
	flex-wrap: nowrap;
	padding-top: 5em;
	padding-bottom: 4em;
	gap: 15px; 
	justify-content: center;
    
}

#tous, #Objets, #Appartements, #Hotels {
	height: 37px;
	line-height: 37px;
	border: 2.5px solid #1D6154; 
    border-radius: 25px / 25px; 
    padding-left:3%;
    padding-right:3%;
	font-family: 'Syne', 'Calibri', sans-serif;
	color: #1D6154;
	font-weight: 700;
	font-size: 16px;
}
#tous:hover, #Objets:hover, #Appartements:hover, #Hotels:hover,
#tous.active, #Objets.active, #Appartements.active, #Hotels.active {
    color: white;
	background-color: #1D6154;
	cursor: default;
} 

.projets {
	display: flex; 
	align-items: center;
	justify-content: center;
	padding-top: 6em;
	text-align: center;
}
.projets h2 {
	font-family: 'Work Sans', Arial, Helvetica, sans-serif;
	font-size: 26px;
}
#portfolio h2 {
	display: flex;
	text-align: center; 
	padding-left: 6%;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}
main #login {
	display: flex;
	flex-direction: column;	
}
#login h2 {
	text-align: center;
	padding-bottom: 30px;
}
#login label {
	display: flex;
	margin-left: 33%;
	padding-top: 30px;
	padding-bottom: 5px;
}
#login #email,#login #password {
	display: flex;
	align-self: center;
	width: 33.3%;
	height: 51px;
	border: none;
	background-color: white;
	filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.1));
}
#login #se_connecter {
	height: 36px;
}
#login a {
	text-align: center;
	text-decoration: underline #3D3D3D;
}
footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
}

